@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Roboto', sans-serif;
    @apply font-light text-gray-50;
  }

  h1 {
    @apply text-3xl font-medium;
  }

  h2 {
    @apply text-2xl font-light;
  }

  h3 {
    @apply text-xl font-light;
  }
}

@layer components {
  .outline {
    @apply border rounded-md px-8 py-4;
  }

  button {
    @apply px-6 py-1 font-bold text-blue-500 bg-gray-50 hover:bg-gray-200 transition-colors rounded-sm;
  }
}

@layer utilities {
  @keyframes wiggle {
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
  }

  @variants hover, motion-safe {
    .animate-wiggle {
      animation: wiggle 0.5s linear;
    }
  }
}
